@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 586.625px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #C7AB8A;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 8px;
}

#slideshowu2062
{
	z-index: 2;
	width: 0.01px;
	height: 280px;
}

#u2088popup
{
	z-index: 3;
}

#u2750
{
	z-index: 4;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2750_img
{
	margin-left: -60px;
	margin-right: -60px;
}

#u2764
{
	z-index: 6;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2764_img
{
	margin-left: -93px;
	margin-right: -92px;
}

#u2778
{
	z-index: 8;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2088,#u2750_clip,#u2764_clip,#u2778_clip
{
	width: 380px;
	height: 280px;
}

#u2778_img
{
	margin-left: -91px;
	margin-right: -91px;
}

#u2063-4popup
{
	z-index: 10;
}

#u2063-4
{
	width: 30px;
	min-height: 30px;
	top: 250px;
	left: 323px;
}

#u2095-4popup
{
	z-index: 14;
}

#u2095-4
{
	width: 30px;
	min-height: 30px;
	top: 250px;
	left: 346px;
}

#ppu2100-3
{
	width: 0.01px;
	top: -280px;
	margin-bottom: -34px;
	position: relative;
}

#pu2100-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u2100-3
{
	z-index: 46;
	width: 249px;
	min-height: 34px;
	margin-right: -10000px;
}

#menuu2101
{
	z-index: 49;
	width: 249px;
	margin-right: -10000px;
}

#u2805
{
	width: 60px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2806
{
	width: 60px;
	padding-bottom: 20px;
}

#u2806:hover
{
	margin: 0px;
}

#u2808-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2806:hover #u2808-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2812
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 62px;
}

#u2815
{
	width: 61px;
	padding-bottom: 20px;
}

#u2806.MuseMenuActive,#u2815:hover
{
	margin: 0px;
}

#u2817-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2806.MuseMenuActive #u2808-4,#u2815:hover #u2817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2819
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 125px;
}

#u2820
{
	width: 61px;
	padding-bottom: 20px;
}

#u2815.MuseMenuActive,#u2820:hover
{
	margin: 0px;
}

#u2823-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2815.MuseMenuActive #u2817-4,#u2820:hover #u2823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2826
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 188px;
}

#u2829
{
	width: 61px;
	padding-bottom: 20px;
}

#u2820.MuseMenuActive,#u2829:hover
{
	margin: 0px;
}

#u2829.MuseMenuActive
{
	margin: 0px;
}

#u2830-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2820.MuseMenuActive #u2823-4,#u2829:hover #u2830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2829.MuseMenuActive #u2830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2098-3
{
	z-index: 39;
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2099-4
{
	z-index: 42;
	width: 131px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2302-4
{
	z-index: 30;
	width: 362px;
	min-height: 69px;
	text-align: center;
	font-size: 32px;
	line-height: 2.03;
	color: #ED795C;
	font-family: pt-mono, monospace;
	font-weight: 400;
	margin-left: 6px;
	margin-top: 10px;
	position: relative;
}

#u2305-5
{
	z-index: 34;
	width: 366px;
	min-height: 107px;
	margin-left: 6px;
	margin-top: 35px;
	position: relative;
}

#u2305-2
{
	font-size: 13px;
	text-align: justify;
	color: #000000;
	font-weight: bold;
}

#u2305-3
{
	color: #7F7F7F;
}

#pu2171
{
	width: 0.01px;
	margin-top: 19px;
	position: relative;
}

#u2171
{
	z-index: 18;
	width: 261px;
	margin-right: -10000px;
	padding: 5px 58px 6.424999999999841px 61px;
}

#u2174-4
{
	z-index: 26;
	width: 261px;
	min-height: 18px;
}

#u2172-3
{
	z-index: 19;
	width: 254px;
	min-height: 18px;
	margin-left: 3px;
	margin-top: 11px;
}

#u2173-4
{
	z-index: 22;
	width: 254px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 61px;
}

#page .verticalspacer
{
	clear: both;
}

