@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 586.5250000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #E2B37D;
	padding-bottom: 0px;
}

#page_position_content
{
	margin-bottom: 8px;
}

#slideshowu2062
{
	z-index: 2;
	width: 0.01px;
	height: 280px;
}

#u2088popup
{
	z-index: 3;
}

#u2750
{
	z-index: 4;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2750_img
{
	margin-left: -60px;
	margin-right: -60px;
}

#u2764
{
	z-index: 6;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2764_img
{
	margin-left: -93px;
	margin-right: -92px;
}

#u2778
{
	z-index: 8;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2088,#u2750_clip,#u2764_clip,#u2778_clip
{
	width: 380px;
	height: 280px;
}

#u2778_img
{
	margin-left: -91px;
	margin-right: -91px;
}

#u2063-4popup
{
	z-index: 10;
}

#u2063-4
{
	width: 30px;
	min-height: 30px;
	top: 250px;
	left: 323px;
}

#u2095-4popup
{
	z-index: 14;
}

#u2095-4
{
	width: 30px;
	min-height: 30px;
	top: 250px;
	left: 346px;
}

#ppu2100-3
{
	width: 0.01px;
	top: -280px;
	margin-bottom: -34px;
	position: relative;
}

#pu2100-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u2100-3
{
	z-index: 85;
	width: 249px;
	min-height: 34px;
	margin-right: -10000px;
}

#menuu2101
{
	z-index: 88;
	width: 249px;
	margin-right: -10000px;
}

#u2805
{
	width: 60px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2806
{
	width: 60px;
	padding-bottom: 20px;
}

#u2806:hover
{
	margin: 0px;
}

#u2808-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2806:hover #u2808-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2812
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 62px;
}

#u2815
{
	width: 61px;
	padding-bottom: 20px;
}

#u2806.MuseMenuActive,#u2815:hover
{
	margin: 0px;
}

#u2817-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2806.MuseMenuActive #u2808-4,#u2815:hover #u2817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2819
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 125px;
}

#u2820
{
	width: 61px;
	padding-bottom: 20px;
}

#u2815.MuseMenuActive,#u2820:hover
{
	margin: 0px;
}

#u2823-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2815.MuseMenuActive #u2817-4,#u2820:hover #u2823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2826
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 188px;
}

#u2829
{
	width: 61px;
	padding-bottom: 20px;
}

#u2820.MuseMenuActive,#u2829:hover
{
	margin: 0px;
}

#u2829.MuseMenuActive
{
	margin: 0px;
}

#u2830-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2820.MuseMenuActive #u2823-4,#u2829:hover #u2830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2829.MuseMenuActive #u2830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2098-3
{
	z-index: 78;
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2099-4
{
	z-index: 81;
	width: 131px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2277-4
{
	z-index: 30;
	width: 366px;
	min-height: 69px;
	text-align: center;
	font-size: 32px;
	line-height: 2.03;
	color: #FFFFFF;
	font-family: pt-mono, monospace;
	font-weight: 400;
	margin-left: 6px;
	top: -128px;
	margin-bottom: -128px;
	position: relative;
}

#slideshowu2977
{
	z-index: 62;
	width: 0.01px;
	height: 186px;
	margin-left: 56px;
	margin-top: 7px;
	position: relative;
}

#u3007
{
	position: absolute;
	width: 265px;
	height: 186px;
	background-color: transparent;
}

#u3007popup
{
	z-index: 63;
}

#u3027
{
	z-index: 64;
	width: 265px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3042
{
	z-index: 66;
	width: 265px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3042_img
{
	margin-left: -55px;
	margin-right: -54px;
}

#u3056
{
	z-index: 68;
	width: 265px;
	height: 186px;
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	margin-right: -10000px;
	position: relative;
}

#u3027_clip,#u3042_clip,#u3056_clip
{
	overflow: hidden;
	width: 265px;
	height: 186px;
}

#u3027_img,#u3056_img
{
	margin-left: -54px;
	margin-right: -54px;
}

#u2980-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 152px;
	left: 211px;
}

#u2980-4popup
{
	z-index: 70;
}

#u3002-4
{
	position: absolute;
	width: 30px;
	min-height: 30px;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	top: 152px;
	left: 235px;
}

#u3002-4popup
{
	z-index: 74;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2286-10
{
	z-index: 39;
	width: 308px;
	min-height: 34px;
	color: #000000;
	margin-left: 35px;
	margin-top: 12px;
	position: relative;
}

#u2285-5
{
	z-index: 34;
	width: 210px;
	min-height: 34px;
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 700;
	margin-left: 84px;
	margin-top: 25px;
	position: relative;
}

#u2285
{
	color: #000000;
}

#u2299-13
{
	z-index: 49;
	width: 210px;
	min-height: 90px;
	font-size: 12px;
	margin-left: 84px;
	margin-top: 19px;
	position: relative;
}

#u2299-2,#u2299-4,#u2299-6,#u2299-8,#u2299-10
{
	text-align: center;
	color: #000000;
	font-weight: bold;
}

#pu2171
{
	width: 0.01px;
	margin-top: 6px;
	position: relative;
}

#u2171
{
	z-index: 18;
	width: 261px;
	margin-right: -10000px;
	padding: 5px 58px 6.424999999999841px 61px;
}

#u2174-4
{
	z-index: 26;
	width: 261px;
	min-height: 18px;
}

#u2172-3
{
	z-index: 19;
	width: 254px;
	min-height: 18px;
	margin-left: 3px;
	margin-top: 11px;
}

#u2173-4
{
	z-index: 22;
	width: 254px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 35px;
	left: 61px;
}

#page .verticalspacer
{
	clear: both;
}

