@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 587px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #BC986E;
}

#page_position_content
{
	margin-bottom: 7px;
}

#slideshowu2062
{
	z-index: 2;
	width: 0.01px;
	height: 280px;
}

#u2088popup
{
	z-index: 3;
}

#u2750
{
	z-index: 4;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2750_img
{
	margin-left: -60px;
	margin-right: -60px;
}

#u2764
{
	z-index: 6;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2764_img
{
	margin-left: -93px;
	margin-right: -92px;
}

#u2778
{
	z-index: 8;
	width: 380px;
	height: 280px;
	margin-right: -10000px;
}

#u2088,#u2750_clip,#u2764_clip,#u2778_clip
{
	width: 380px;
	height: 280px;
}

#u2778_img
{
	margin-left: -91px;
	margin-right: -91px;
}

#u2063-4popup
{
	z-index: 10;
}

#u2063-4
{
	width: 30px;
	min-height: 30px;
	top: 250px;
	left: 323px;
}

#u2095-4popup
{
	z-index: 14;
}

#u2095-4
{
	width: 30px;
	min-height: 30px;
	top: 250px;
	left: 346px;
}

#ppu2100-3
{
	width: 0.01px;
	top: -280px;
	margin-bottom: -34px;
	position: relative;
}

#pu2100-3
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 131px;
}

#u2100-3
{
	z-index: 80;
	width: 249px;
	min-height: 34px;
	margin-right: -10000px;
}

#menuu2101
{
	z-index: 83;
	width: 249px;
	margin-right: -10000px;
}

#u2805
{
	width: 60px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2806
{
	width: 60px;
	padding-bottom: 20px;
}

#u2806:hover
{
	margin: 0px;
}

#u2808-4
{
	width: 60px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2806:hover #u2808-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2812
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 62px;
}

#u2815
{
	width: 61px;
	padding-bottom: 20px;
}

#u2806.MuseMenuActive,#u2815:hover
{
	margin: 0px;
}

#u2817-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2806.MuseMenuActive #u2808-4,#u2815:hover #u2817-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2819
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 125px;
}

#u2820
{
	width: 61px;
	padding-bottom: 20px;
}

#u2815.MuseMenuActive,#u2820:hover
{
	margin: 0px;
}

#u2823-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2815.MuseMenuActive #u2817-4,#u2820:hover #u2823-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2826
{
	width: 61px;
	min-height: 34px;
	margin-right: -10000px;
	left: 188px;
}

#u2829
{
	width: 61px;
	padding-bottom: 20px;
}

#u2820.MuseMenuActive,#u2829:hover
{
	margin: 0px;
}

#u2829.MuseMenuActive
{
	margin: 0px;
}

#u2830-4
{
	width: 61px;
	min-height: 14px;
	margin-right: -10000px;
	top: 10px;
}

#u2820.MuseMenuActive #u2823-4,#u2829:hover #u2830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2829.MuseMenuActive #u2830-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 14px;
	margin: 0px -10000px 0px 0px;
}

#u2098-3
{
	z-index: 73;
	width: 131px;
	min-height: 34px;
	margin-right: -10000px;
}

#u2099-4
{
	z-index: 76;
	width: 131px;
	min-height: 28px;
	margin-right: -10000px;
}

#u2261-4
{
	z-index: 53;
	width: 245px;
	min-height: 41px;
	text-align: center;
	color: #FFFFFF;
	font-size: 24px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	margin-left: 67px;
	top: -35px;
	margin-bottom: -35px;
	position: relative;
}

#u2260-4
{
	z-index: 49;
	width: 245px;
	min-height: 51px;
	text-align: justify;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-left: 73px;
	position: relative;
}

#u2268-4
{
	z-index: 57;
	width: 380px;
	min-height: 41px;
	text-align: center;
	color: #000000;
	font-size: 24px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
	margin-top: 13px;
}

#u2275-4
{
	z-index: 69;
	width: 245px;
	min-height: 56px;
	text-align: justify;
	color: #000000;
	font-size: 12px;
	font-weight: bold;
	margin-left: 73px;
	position: relative;
}

#u2269-4
{
	z-index: 61;
	width: 380px;
	min-height: 41px;
	text-align: center;
	color: #000000;
	font-size: 24px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
	margin-top: 7px;
}

#u2271-4
{
	z-index: 65;
	width: 245px;
	min-height: 40px;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	margin-left: 67px;
	margin-top: 16px;
	position: relative;
}

#slideshowu2196
{
	z-index: 30;
	width: 0.01px;
	height: 446px;
	margin-left: 7px;
	margin-top: 20px;
	position: relative;
}

#u2200
{
	position: absolute;
	width: 380px;
	height: 404px;
	border-style: none;
	border-color: transparent;
	background-color: #87AEAC;
	background-color: rgba(122, 166, 163, 0.9);
	top: 18px;
	left: -7px;
	-pie-background: rgba(122, 166, 163, 0.9);
}

#u2200popup
{
	z-index: 31;
}

#u2933
{
	z-index: 32;
	width: 336px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2933_img
{
	padding-left: 48px;
	padding-right: 49px;
}

#u2948
{
	z-index: 34;
	width: 336px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2948_img
{
	padding-left: 46px;
	padding-right: 45px;
}

#u2910
{
	z-index: 36;
	width: 336px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2910_img
{
	padding-top: 54px;
	padding-bottom: 54px;
}

#u2962
{
	z-index: 38;
	width: 336px;
	height: 360px;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u2962_img
{
	padding-top: 71px;
	padding-bottom: 70px;
}

#u2209
{
	position: absolute;
	width: 318px;
	left: 19px;
}

#u2209popup
{
	z-index: 40;
}

#u2936
{
	z-index: 41;
	width: 154px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u2936:hover
{
	background-color: #F7A591;
	background-color: rgba(240, 76, 35, 0.5);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(240, 76, 35, 0.5);
}

#u2936_img
{
	margin-top: -11px;
	margin-bottom: -11px;
}

#u2951
{
	z-index: 43;
	width: 154px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 164px;
}

#u2951:hover
{
	background-color: #F7A591;
	background-color: rgba(240, 76, 35, 0.5);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(240, 76, 35, 0.5);
}

#u2951_img
{
	margin-top: -8px;
	margin-bottom: -8px;
}

#u2913
{
	z-index: 45;
	width: 154px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
}

#u2913:hover
{
	background-color: #F7A591;
	background-color: rgba(240, 76, 35, 0.5);
	margin: 220px -10000px 0px 0px;
	-pie-background: rgba(240, 76, 35, 0.5);
}

#u2913_img
{
	margin-left: -63px;
	margin-right: -63px;
}

#u2965
{
	z-index: 47;
	width: 154px;
	height: 210px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	left: 164px;
}

#u2965:hover
{
	background-color: #F7A591;
	background-color: rgba(240, 76, 35, 0.5);
	margin: 220px -10000px 0px 0px;
	-pie-background: rgba(240, 76, 35, 0.5);
}

#u2936_clip,#u2951_clip,#u2913_clip,#u2965_clip
{
	overflow: hidden;
	width: 154px;
	height: 210px;
}

#u2965_img
{
	margin-left: -84px;
	margin-right: -84px;
}

#u2936_img:hover,#u2951_img:hover,#u2913_img:hover,#u2965_img:hover
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#pu2171
{
	width: 0.01px;
	margin-top: 7px;
	position: relative;
}

#u2171
{
	z-index: 18;
	width: 261px;
	margin-right: -10000px;
	padding: 5px 58px 6.424999999999727px 61px;
}

#u2174-4
{
	z-index: 26;
	width: 261px;
	min-height: 18px;
}

#u2172-3
{
	z-index: 19;
	width: 254px;
	min-height: 18px;
	margin-left: 3px;
	margin-top: 11px;
}

#u2173-4
{
	z-index: 22;
	width: 254px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 34px;
	left: 61px;
}

#page .verticalspacer
{
	clear: both;
}

