#u2088
{
	position: absolute;
	background-color: transparent;
}

#u2750,#u2764,#u2778
{
	border-style: none;
	border-color: transparent;
	background-color: #4F4F4F;
	position: relative;
}

#u2750_clip,#u2764_clip,#u2778_clip
{
	overflow: hidden;
}

#u2063-4,#u2095-4
{
	position: absolute;
	text-align: center;
	line-height: 1.4;
	color: #999999;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#u2100-3
{
	background-color: #FFFFFF;
	opacity: 0.53;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=53)";
	filter: alpha(opacity=53);
	color: #FFFFFF;
	position: relative;
}

#u2806
{
	background-color: transparent;
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	position: relative;
}

#u2806:hover
{
	background-color: #AAAAAA;
}

#u2808-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F04C23;
	font-size: 12px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
}

#u2806:hover #u2808-4 p
{
	color: #ED795C;
	visibility: inherit;
}

#u2815
{
	background-color: transparent;
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	position: relative;
}

#u2815:hover
{
	background-color: #AAAAAA;
}

#u2817-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F04C23;
	font-size: 12px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
}

#u2806.MuseMenuActive #u2808-4 p,#u2815:hover #u2817-4 p
{
	color: #ED795C;
	visibility: inherit;
}

#u2820
{
	background-color: transparent;
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	position: relative;
}

#u2820:hover
{
	background-color: #AAAAAA;
}

#u2823-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F04C23;
	font-size: 12px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
}

#u2815.MuseMenuActive #u2817-4 p,#u2820:hover #u2823-4 p
{
	color: #ED795C;
	visibility: inherit;
}

#slideshowu2062,#menuu2101,#u2805,#u2812,#u2819,#u2826
{
	position: relative;
}

#u2829
{
	background-color: transparent;
	opacity: 0.73;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=73)";
	filter: alpha(opacity=73);
	position: relative;
}

#u2829:hover
{
	background-color: #AAAAAA;
}

#u2806.MuseMenuActive,#u2815.MuseMenuActive,#u2820.MuseMenuActive,#u2829.MuseMenuActive
{
	background-color: #666666;
}

#u2830-4
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	text-align: center;
	color: #F04C23;
	font-size: 12px;
	font-family: pt-mono, monospace;
	font-weight: 400;
	position: relative;
}

#u2806.MuseMenuActive #u2808-4,#u2815.MuseMenuActive #u2817-4,#u2820.MuseMenuActive #u2823-4,#u2829.MuseMenuActive #u2830-4
{
	border-style: none;
	border-color: transparent;
}

#u2820.MuseMenuActive #u2823-4 p,#u2829:hover #u2830-4 p
{
	color: #ED795C;
	visibility: inherit;
}

#u2829.MuseMenuActive #u2830-4 p
{
	color: #ED795C;
	visibility: inherit;
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.MenuItem /* slideshowFreeStyle */
{
	cursor: pointer;
}

#u2099-4
{
	font-size: 24px;
	position: relative;
}

#u2171
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
}

#u2174-4
{
	background-color: #F04C23;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

#u2098-3,#u2172-3
{
	background-color: #F04C23;
	opacity: 0.6;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
	filter: alpha(opacity=60);
	color: #FFFFFF;
	position: relative;
}

#u2173-4
{
	text-align: center;
	color: #FFFFFF;
	position: relative;
}

